header { 
  background-color: #667;
  padding: 30px;
  text-align: center;
  font-size: 40px;
  color: white;
}
.banner {  height: 50%;  width: 100%;  display:block;  background-position: center;  background-repeat: no-repeat;  background-size: cover;  background-image:url(space.jpg) }  
